.chat__upper
  %p.chat__upper--talker
    = current_user.name
  %p.chat__upper--date
    2019/09/25(Wed) 14:48:56
%p.chat__message
  こんにちは
.chat__upper
  %p.chat__upper--talker
    = current_user.name
  %p.chat__upper--date
    2019/09/25(Wed) 14:48:56
%p.chat__message
  こんにちは
.chat__upper
  %p.chat__upper--talker
    = current_user.name
  %p.chat__upper--date
    2019/09/25(Wed) 14:48:56
%p.chat__message
  こんにちは