= link_to '' do
  .side-group
    %p.side-group__name
      テスト
    %p.side-group__message
      犬
= link_to '' do
  .side-group
    %p.side-group__name
      テスト
    %p.side-group__message
      犬
= link_to '' do
  .side-group
    %p.side-group__name
      テスト
    %p.side-group__message
      犬