.wrapper
  = render "shared/side_bar"    
  .chat-main
    .main-header
      .header-left
        %p.header-left__group
          グループ名
        %p.header-left__members
          Member: ユーザー名
      = link_to '/groups/13/edit', class: 'main-header__edit' do
        Edit
    .chats
      .chat
        = render "chat"
    %form
      .input-box
        .input-box__message
          %input.input-box__message__text{name: "message", placeholder: "type a message", type: "text", value: ""}
          %label.input-box__message__image{for: "upload-icon"}
            %i.fa.fa-picture-o
            %input.input-box__message__image--file{type: "file", id: "upload-icon"}
        %input.input-box__sent{name: "message-btn", type: "submit", value: "Send"}