.chat-side {
  width: 300px;
  float: left;
  color: white; 
  .side-header{
    @include basebox(100px, #253141);
    padding: 0 20px;
    display: flex;
    align-items: center;
    &__box {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      width: 100%;
      &__user {
        font-size: 16px;
      }
      &__menu {
        display: flex;
        &--edit {
          margin-left: 0.3rem;
          font-size: 16px;
        }
        &--cog {
          margin-left: 0.3rem;
          font-size: 16px;
        }
        a{
          @include a-box();
        }       
      }
    }
  }
  .side-groups {
    @include basebox(calc(100vh - 100px), #2f3e51);
    overflow: scroll;
    a {
      @include a-box();
      .side-group {
        padding: 20px;
        &__name {
          padding-bottom: 5px;
          font-size: 15px;
        }
        &__message {
          font-size: 11px;
        }
      }
    }
  }
}

.chat-main{
  float: left;
  width: calc(100vw - 300px);
  .main-header {
    height: 100px;
    border-bottom: 1px solid #eeeeee;
    box-sizing: border-box;
    padding: 0 40px;
    overflow: hidden;
      .header-left {
        float: left;
        position: relative;
        &__group {
          font-size: 20px;
          color: #333333;
          padding: 35px 0 15px 0;
        }
        &__members {
          font-size: 12px;
          color: #999999;
        }
      }
    &__edit {
      height: 40px;
      line-height: 40px;
      margin: 28px 40px;
      padding: 0 20px;
      border: 1px solid $blueRightColor;
      color: $blueRightColor;
      position: absolute;
      right: 0;
      text-decoration: none;
    }
  }
  .chats {
    @include basebox(calc(100vh - 100px - 90px), #fafafa);
    padding: 6px 40px 0 40px;
    overflow: scroll;
    overflow: hidden;
    box-sizing: border-box;
    .chat {
      padding-top: 40px;
      &__upper {
        display: flex;
        &--talker {
          font-size: 16px;
          font-weight: bold;
          color: #434a54;
        }
        &--date {
          font-size: 12px;
          color: #999999;
          margin-left: 10px;
        }
      }
      &__message {
        margin: 10px 0 40px 0;
        font-size: 14px;
        color: #434A54;
      }
    }
  }
  form {
    @include basebox(90px, #ddd);
    padding-left: 40px;
    overflow: hidden;
    .input-box {
      display: flex;
      height: 50px;
      padding-top: 20px; 
      &__message {
        position: relative;
        width: 100%;
        &__text {
          height: 50px;
          width: 100%;
          border-style: none;
          padding: 0 40px 0 10px;
          box-sizing: border-box;
        }
        &__image {
          position: absolute;
          font-size: 1.3rem;
          top: 10px;
          right: 10px;
          
          cursor: pointer;
          &--file {
            display: none;
          }
        }
      }
      &__sent {
        margin: 0 40px 0 15px;
        padding: 0 30px;
        border: 1px solid $blueRightColor;
        background: $blueRightColor;
        color: white;
        cursor: pointer;
      }
    }
  }
}

